<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VcfEdit.Properties.Settings.AspenConnectionString"
            connectionString="Data Source=HELLO-PC\SQLEXPRESS;Initial Catalog=Aspen;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="VcfEdit.Properties.Settings.phoneConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\phone.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>